*{
    padding: 0;
    margin: 0;
    color: #fff;
}

body{
    background-image: linear-gradient(to right, #001, #00115555, #001);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inf{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 ;;
    background-image: linear-gradient(to right, #001, #00115555, #001);
}

.inf form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.inf form label{
    text-transform: capitalize;
    font-size: 20px;
    color: #ffd700;
    font-weight: bold;
}

.inf form input{
    width: 70%;
    min-width: 100px;
    margin: 10px;
    padding: 4px 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
}

.inf form button{
    padding: 3px 10px;
    width: 60%;
    border-radius: 10px;
    color: #000;
    margin: 10px 0;
    scale: 0.95;
    transition: 0.5s;
    cursor: pointer;
}

.inf form button:hover{
    scale: 1.05;
}

.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300px;
    background-image: linear-gradient(to right, #001, #00115555, #001);
}

.logo i{
    color: #ffd700;
}

@media (max-width: 830px){
    body{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .logo{
        font-size: 120px;
        width: 100%;
    }

    .icon{
        padding: 7px 40px;
    }

    .inf{
        border-radius: 0;
        width: 100%;
    }
}